* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.answer {
    padding: 15px;
    display: none;
    font-size: 15px;
    border-top: 1px solid #ddd;
}
body {
    font-family: Arial, sans-serif;
    background: #f6f6f6;
    padding: 40px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.accordion {
    width: 500px;
    margin: auto;
}

.item {
    background: white;
    margin-bottom: 10px;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.question {
    width: 100%;
    padding: 15px;
    background: #eee;
    cursor: pointer;
    border: none;
    text-align: left;
    font-size: 16px;

    display: flex;                 
    justify-content: space-between; 
    align-items: center;            
}

.arrow {
    transition: transform 0.3s ease;
    font-size: 18px;
}

.arrow.rotate {
    transform: rotate(180deg);
}