* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.answer {
    padding: 15px;
    display: none;
    font-size: 15px;
    border-top: 1px solid #ddd;
}